<link rel="stylesheet" href="/CSS/information.css">
<div class="con">
    <div class="title">
        Đăng ký tham gia đội bóng
    </div>
    {{#if success}}
  <div class="p-3 mb-2 bg-success text-white">Đăng ký tham gia đội bóng thành công</div>
{{/if}}
    <form action="" method="POST" style="display:flex; flex-direction:column; height:90%;" id="registration" enctype="multipart/form-data">
        <div style="display: flex; flex-direction:row; width:100%; height:80%; margin-top: 1%; justify-content:center">
            <div class="TeamInfo">
                <div style="border-bottom: solid black 1px;"><i>*Thông tin đội bóng</i>
                </div>
                <div style="margin-top:5%">
                    <div class="form-group">
                        <label for="text">Tên đội:</label>
                        <input type="text" class="form-control teaminput" name="TeamName">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Sân nhà:</label>
                        <input type="text" class="form-control teaminput" name="TeamField">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Số lượng cầu thủ:</label>
                        <input type="number" class="form-control teaminput" name="PlayerNum" id="PlayerNum">
                    </div>
                    <div class="form-group">
                        <label for="formFile" class="form-label">Chọn logo cho đội: </label>
                        <input class="form-control teaminput" type="file" id="formFile" name="logo">
                    </div>
                    <div class="form-group">
                        <label for="formFile" class="form-label">Xác nhận: </label>
                        <div style="display: flex; justify-content:start; width:60%">
                            <input type="checkbox" id="confirmBut" class="teaminput" name="confirmBut">
                        </div>
                    </div>

                </div>
            </div>
            <div class="PlayerInfo">
                <div style="border-bottom: solid black 1px;"><i>*Thông tin cầu thủ</i></div>
            </div>
        </div>

        <div style="width:100%; height:7%; padding-left:35%; margin-top: 2%"><button type="submit" class="button">Đăng
                ký</button></div>
    </form>
</div>

<style>
    body{
        height: 120vh;
        padding-bottom: 5%;
        overflow-x: hidden;
    }
    .con{
        height: 80%;
        overflow: hidden;
    }
    .TeamInfo {
        font-size: 2vw;
        width: 35%;
        height: 100%;
        border-right: solid black 1px;
    }
    .PlayerInfo {
        font-size: 2vw;
        width: 55%;
        height: 100%;
    }

    label {
        width: 30%;
        font-size: 1.5vw;
    }

    .form-control {
        font-size: 1.2vw;
        width: 60%;
        height: 100%;
    }

    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 10%;
    }

    label.error {
        color: red;
        font-size: 1vw;
        margin-left: 35%;
        width: 60%;
    }

    .button {
        width: 7%;
        height: 5%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 2vh;
        text-align: center;
        border-radius: 1vh;

        color: #000000;
    }

    .but {
        margin-left: 5%;
    }

    img {

        height: 100%;
        width: 100%;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
<script>
    var visiblePlayer = 0;
    function show() {
        $(".PlayerForm").hide();
        $(".PlayerForm:eq(" + visiblePlayer + ")").show();
    }
    $(function () {
        $.validator.setDefaults({
            ignore: [],
            // any other default options and/or rules
        });
        $('#confirmBut').click(function () {
            $(".PlayerForm").remove()
            $(".butCon").remove()
            if ($('#confirmBut').is(":checked") && $("#registration").valid()) {
            $('.teaminput').attr("readonly", true)
            for (var i = 1; i <= $("#PlayerNum").val(); i++) {
                $(".PlayerInfo").append(`
                   <div class="PlayerForm" style="margin-top:3.2%">
                    <div class="form-group">
                        <label for="text">Tên cầu thủ ${i}:</label>
                        <input type="text" class="form-control PlayerName" name="PlayerName${i}">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Ngày sinh cầu thủ ${i}:</label>
                        <input type="date" class="form-control PlayerBD" name="PlayerBD${i}" >
                    </div>
                    <div class="form-group">
                        <label for="pwd">Vị trí chơi ${i}:</label>
                        <select name="PlayerPos" id="cars" class="form-control">
                            {{#each Luat.LoaiCauThu}}
                            <option value={{MaLoaiCauThu}}>{{TenLoaiCauThu}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Ghi chú cầu thủ ${i}:</label>
                        <input type="text" class="form-control" name="PlayerNote">
                    </div>
                    <div class="form-group" style="justify-content: start; padding-left:2.25%">
                        <label for="pwd">Là cầu thủ nước ngoài:</label>
                        <input type="checkbox" style="margin-left:6%" name="isFor${i}" class="isFor">
                    </div>
                </div>
                `)
            }
            if ($('PlayerNum') && $('#PlayerNum').val() != 0) {
                $('.PlayerInfo').append(`
                 <div style="display: flex; flex-direction:row; justify-content:end; height:10%;" class="butCon">
                    <div class="but"><img src="../back.png" alt="" id="pre"></div>
                    <div class="but"><img src="../next.png" alt="" id="next"></div>
                </div>`
                )
            }
            visiblePlayer = 0;
            show()
            classRule();
            $("#next").click(function () {
                if (visiblePlayer == $(".PlayerForm").length - 1) {
                    visiblePlayer = 0;
                }
                else {
                    visiblePlayer++;
                }
                $("#registration").valid()
                show()
            });
            $("#pre").click(function () {
                if (visiblePlayer == 0) {
                    visiblePlayer = $(".PlayerForm").length - 1;
                }
                else {
                    visiblePlayer--;
                }
                $("#registration").valid()
                show()
            });
        }
    })
    registration();
    });

    var ForCount=0;

    function registration() {
        var $registerform = $("#registration")
        $registerform.validate({
            rules: {
                TeamName: {
                    required: true,
                    maxlength:150
                },
                TeamField: {
                    required: true,
                    maxlength:150
                },
                PlayerNum: {
                    required: true,
                    min: {{ Luat.SoCauthutoiThieu }},
                    max: {{ Luat.SoCauThuToiDa }},
                    },
                logo: {
                    required: true,
                    extension: "png",
                },
                confirmBut: {
                    required: true,
                },
            },
            messages: {
                TeamName: {
                    required: "Hãy nhập tên đội",
                    maxlength: "Tên không vượt quá 150 kí tự"
                },
                TeamField: {
                    required: "Hãy nhập tên sân",
                    maxlength: "Tên không vượt quá 150 kí tự"
                },
                PlayerNum: {
                    required: "Hãy nhập số lượng cầu thủ",
                    min: "Số lượng cầu thủ phải nhiều hơn {{Luat.SoCauthutoiThieu}}",
                    max: "Số lượng cầu thủ phải ít hơn {{Luat.SoCauThuToiDa}}",
                },
                logo: {
                    required: "Hãy nhập logo",
                    extension: "Chỉ chấp nhận file png",
                },
                confirmBut: {
                    required: "Hãy bấm xác nhận",
                },
            },
            invalidHandler: function(event, validator) {
                ForCount=0;
            }
        })

    }

    function classRule() {
        $.validator.addMethod("cAge", function (value, element) {
            birthDate = new Date(value);
            // get difference from current date;
            var difference = Date.now() - birthDate.getTime();
            var ageDate = new Date(difference);
            var calculatedAge = Math.abs(ageDate.getUTCFullYear() - 1970);
            if (calculatedAge >= {{ Luat.TuoiToiThieu }} && calculatedAge <= {{ Luat.TuoiToiDa }}) {
                return true;
            }
        return false;
        }, "Tuổi cầu thủ tối thiểu là {{Luat.TuoiToiThieu}} và tối đa là {{Luat.TuoiToiDa}} ");

        $.validator.addMethod("cMaxLength", $.validator.methods.maxlength,jQuery.validator.format("Tên phải dưới {0} kí tự"));
        $.validator.addMethod("cRequired", $.validator.methods.required, "Hãy nhập thông tin");

        $.validator.addClassRules("PlayerBD", { cAge: true,cRequired:true });
        $.validator.addClassRules("PlayerName", { cRequired: true, cMaxLength: 150});


        $.validator.addMethod("cForeignCount", function(value,element){
            
                for(var i=0;i<$('.isFor').length;i++){
                    if($(`[name=isFor${i+1}]`).is(":checked")){
                        ForCount++;
                    }
                }
            if(ForCount>3){
                ForCount=0;
                return false
            }
            ForCount=0;
            return true;
        },"Số cầu thủ nước ngoài phải dưới 3")
        $.validator.addClassRules("isFor",{cForeignCount:true})
    }
</script>