<link rel="stylesheet" href="/CSS/information.css">
<div class="con">
    <div class="title">
        Bảng Xếp Hạng
    </div>
    <table class="table scrolldown table-borderless">
        <thead>
            <tr>
                <th scope="col">Hạng</th>
                <th scope="col" class="team" style="text-align: center;"> Đội</th>
                <th scope="col">Thắng</th>
                <th scope="col">Hòa</th>
                <th scope="col">Thua</th>
                <th scope="col">Hiệu số</th>
            </tr>
        </thead>
        <tbody>
            {{#each rank}}
            <tr>
                <th scope="row">{{Rank}}</th>
                <td class="team"> <img src="../Logo/{{MaDoi}}.png" alt="">{{TenDoi}}</td>
                <td>{{SoTranThang}}</td>
                <td>{{SoTranHoa}}</td>
                <td>{{SoTranThua}}</td>
                <td>{{HieuSo}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<style>
    .title{
        margin-top:0.5% ;
    }
    .con {
        overflow: unset;
    }

    .table {
  
        font-size: 1.5vw;
        width: 70%;
        height: 80%;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        border-collapse: separate;
        border-spacing: 0.5vw;

    }

    /* To display the block as level element */
    table.scrolldown tbody,
    table.scrolldown thead {
        display: block;
    }


    table.scrolldown tbody {

        /* Set the height of table body */
        height: 80%;

        /* Set vertical scroll */
        overflow-y: auto;

        /* Hide the horizontal scroll */
        overflow-x: hidden;
    }

    thead tr {
        padding-right: 1.15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
         background-color: #EB6440;
       border-radius: 25px 25px 0px 0px;
      
    }

    tbody tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #D9D9D9;
        margin-top:1% ;
    }

    tr th,tr td{
        text-align: center;
        width: 12%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .team{
        text-align: start;
        width: 35%;
    }

    img{
        width: 15%;
        height: 100%;
        margin-right: 5%;
    }

</style>