<link rel="stylesheet" href="/CSS/information.css">
<div class="con">
    {{!-- <div class="title">
        Kết Qủa Trận Đấu
    </div> --}}
    <div class="con1">
        <div class="but"><img src="/back.png" alt="" id="pre"></div>
        {{#each Tran}}
        <div class="teamScoreCon">
            <div class="team">
                <img src="/Logo/{{MaDoi1}}.png" alt="">
                <div class="teamname">{{TenDoi1}}</div>
                <div class="playergoal">
                    {{#each banThangDoi1 }}
                    <div>{{TenCauThu}} {{ThoiDiem}}'</div>
                    {{/each}}
                </div>
            </div>
            <div class="score">
                <div class="teamname" style="border-bottom:0px; padding-bottom: 15%; font-size:1.5vw">
                    <b>{{NgayGio}}</b>
                    <b> {{TenSan}}</b>
                </div>
                <div class="recScore">{{SoBanThangDoi1}} - {{SoBanThangDoi2}}</div>
                <div class="teamname"></div>
                <div class="playergoal">⚽</div>
            </div>
            <div class="team">
                <img src="/Logo/{{MaDoi2}}.png" alt="">
                <div class="teamname"> {{Doi2}}</div>
                <div class="playergoal">
                    {{#each banThangDoi2 }}
                    <div>{{TenCauThu}} {{ThoiDiem}}'</div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
        <div class="teamScoreCon">
            <div class="team">
                <img src="/Logo/Sai-Gon 9.png" alt="">
                <div class="teamname">Sông Lâm Nghệ An</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
            <div class="score">
                <div class="recScore">3 - 0</div>
                <div class="teamname">18/12/2022 18h</div>
                <div class="playergoal">⚽</div>
            </div>
            <div class="team">
                <img src="/Logo/Sai-Gon 10.png" alt="">
                <div class="teamname"> Nam định</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
        </div>
        <div class="teamScoreCon">
            <div class="team">
                <img src="/Logo/Sai-Gon 7.png" alt="">
                <div class="teamname">Sông Lâm Nghệ An</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
            <div class="score">
                <div class="recScore">3 - 0</div>
                <div class="teamname">18/12/2022 18h</div>
                <div class="playergoal">⚽</div>
            </div>
            <div class="team">
                <img src="/Logo/Sai-Gon 8.png" alt="">
                <div class="teamname"> Nam định</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
        </div>
         <div class="teamScoreCon">
            <div class="team">
                <img src="/Logo/Sai-Gon 7.png" alt="">
                <div class="teamname">Sông Lâm Nghệ An</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
            <div class="score">
                <div class="recScore">3 - 0</div>
                <div class="teamname">18/12/2022 18h</div>
                <div class="playergoal">⚽</div>
            </div>
            <div class="team">
                <img src="/Logo/Sai-Gon 9.png" alt="">
                <div class="teamname"> Nam định</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
        </div>
        <div class="teamScoreCon">
            <div class="team">
                <img src="/Logo/Sai-Gon 10.png" alt="">
                <div class="teamname">Sông Lâm Nghệ An</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
            <div class="score">
                <div class="recScore">3 - 0</div>
                <div class="teamname">18/12/2022 18h</div>
                <div class="playergoal">⚽</div>
            </div>
            <div class="team">
                <img src="/Logo/Sai-Gon 8.png" alt="">
                <div class="teamname"> Nam định</div>
                <div class="playergoal">
                    <div>Mario Arqués 22'</div>
                </div>
            </div>
        </div>
        <div class="but"><img src="/next.png" alt="" id="next"></div>
    </div>
    <div style="display: flex; width:80%;height:30%; margin:auto; justify-content:space-around">
        {{#each Tran}}
        <div class="minicon">
            <div class="minicon1">
                <img class="minilogo" src="/Logo/{{MaDoi1}}.png" alt="">
                <div style="text-align: center;">{{TenDoi1}}</div>
            </div>
            <div>{{SoBanThangDoi1}} - {{SoBanThangDoi2}}</div>
            <div class="minicon1">
                <img class="minilogo" src="/Logo/{{MaDoi2}}.png" alt="">
                <div style="text-align: center;">{{Doi2}}</div>
            </div>
        </div>
        {{/each}}
        <div class="minicon">
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 9.png" alt="">
                <div>Sông Lâm Nghệ An</div>
            </div>
            <div>3 - 0</div>
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 10.png" alt="">
                <div>Nam Đinh</div>
            </div>
        </div>
        <div class="minicon">
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 7.png" alt="">
                <div>Sông Lâm Nghệ An</div>
            </div>
            <div>3 - 0</div>
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 8.png" alt="">
                <div>Nam Đinh</div>
            </div>
        </div>
        <div class="minicon">
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 7.png" alt="">
                <div>Sông Lâm Nghệ An</div>
            </div>
            <div>3 - 0</div>
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 9.png" alt="">
                <div>Nam Đinh</div>
            </div>
        </div>
         <div class="minicon">
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 10.png" alt="">
                <div>Sông Lâm Nghệ An</div>
            </div>
            <div>3 - 0</div>
            <div class="minicon1">
                <img class="minilogo" src="/Logo/Sai-Gon 8.png" alt="">
                <div>Nam Đinh</div>
            </div>
        </div>
    </div>
</div>


<style>
    .minicon {
        display: flex;
        flex-direction: row;
        width: 30%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .minicon1 {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        justify-content: center;
    }

    .minilogo {
        width: 100%;
        height: 50%;
    }

    .con1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 70%;
        width: 80%;
        margin: auto;
        border-bottom: solid black 1px;
    }

    .teamScoreCon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .but {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 5%;
        height: 100%;
    }

    .team {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .team img {
        height: 35%;
    }

    .score {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .recScore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 35%;
        background: #000000;
        border-radius: 3vw;
        color: white;
        font-size: 9vw;
    }

    .teamname {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20%;
        text-align: center;
        font-size: 2vw;
        font-weight: 400;
        font-family: 'Poppins';
        border-bottom: solid black 1px;
    }

    .playergoal {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 15%;
        text-align: center;
        font-size: 1.5vw;
        font-weight: 400;
        font-family: 'Poppins';
        overflow: auto;
    }
</style>

<script>
    var visibleTeamScore = 0;
    var visibleMiniMatch = [];

    function show() {
        $(".teamScoreCon").hide();
        $(".teamScoreCon:eq(" + visibleTeamScore + ")").css("display", "flex");
        $(" .minicon").hide();
        for (var i = 0; i < visibleMiniMatch.length; i++) {
            $(".minicon:eq(" + visibleMiniMatch[i] + ")").css("display", "flex");
        }

    }
    $(function () {
        if ($(".minicon").length == 2) {
            visibleMiniMatch=[1];
        }
        else if ($(".minicon").length == 3) {
            visibleMiniMatch = [1, 2]
        }
        else if($(".minicon").length > 3){
            visibleMiniMatch = [1, 2, 3]
        }
        show()
        $("#next").click(function () {
            if (visibleTeamScore == $(".teamScoreCon").length - 1) {
                return
            }
            else {
                visibleTeamScore++;
            }
            console.log(visibleMiniMatch)
            console.log($(".minicon").length - 1, $(".teamScoreCon").length - 1)
            max = Math.max(...visibleMiniMatch)
            if (max >= ($(".minicon").length - 1)) {
                index = visibleMiniMatch.indexOf(max);
                console.log("MaxIndex",index,"Max: ",max)
                visibleMiniMatch[index] = -1;
            }
            for (var i = 0; i < visibleMiniMatch.length; i++) {
                visibleMiniMatch[i]++;
            }
            console.log(visibleMiniMatch)
            show()
        });
        $("#pre").click(function () {
            if (visibleTeamScore == 0) {
                {{!-- visibleTeamScore = $(".teamScoreCon").length - 1; --}}
                return;
            }
            else {
                visibleTeamScore--;
            }
            min = Math.min(...visibleMiniMatch)
            if (min <= 0) {
                index = visibleMiniMatch.indexOf(min);
                visibleMiniMatch[index] = $(".minicon").length;
            }
            for (var i = 0; i < visibleMiniMatch.length; i++) {
                visibleMiniMatch[i]--;
            }
            console.log(visibleMiniMatch)
            show()
        });
    });

</script>